# Banco usado pelo serviço e pelo PostgreSQL
DB_HOST=postgres-db
DB_PORT=5432
DB_USER=srm_user
DB_PASSWORD=change-me
DB_NAME=srm_credit_db

# Portas publicadas no host
DB_EXPOSED_PORT=5432
SERVICE_EXPOSED_PORT=3000
